<!DOCTYPE html>
<html id="a" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body style="background-color: #131312">
    <div class="giga-container">
        <div id="container">
            <div class="container1">
                <img th:src="@{/images/sigil.png}" class="sigil">
                <a th:href="@{/business/home}" class="hrefbutt">About me</a>
                <a th:href="@{/business/skills}" class="hrefbutt">Skills</a>
                <a th:href="@{/business/download}" class="hrefbutt">Documents</a>
                <a th:href="@{/contact}" class="hrefbutt">Contact Me</a>
            </div>
            <div class="container2">


            </div>
        </div>    
        <div class="container3">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non sagittis magna. Etiam gravida vulputate venenatis. Cras at nibh eget neque sodales mattis ac vel lacus. Nam et tempor ante. Aenean cursus erat dui, quis pulvinar libero cursus sit amet. Praesent semper enim turpis, sed placerat augue sollicitudin vel. Praesent ac scelerisque eros. Suspendisse blandit pellentesque nunc, eu accumsan ex fermentum at. Nulla vel neque est.

Aenean faucibus erat eu mauris sagittis, quis convallis lorem lacinia. Cras non dignissim quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat est a metus porta porttitor. Suspendisse imperdiet sapien orci, egestas tempus tellus faucibus ut. Vivamus ultricies orci et neque egestas, eu ornare enim laoreet. In eget arcu non felis convallis egestas. Fusce non sollicitudin sem, sit amet finibus erat. Donec volutpat, urna at molestie malesuada, ipsum nisl euismod ex, nec molestie libero ante sit amet est. Donec ornare laoreet ligula non mollis. Nullam malesuada nunc ut turpis mattis condimentum. Aliquam at laoreet orci, in congue velit. Etiam bibendum, turpis sed condimentum mattis, libero orci malesuada turpis, ac ultricies nisi mi quis magna.

Nunc pharetra, tortor at condimentum posuere, mi sem facilisis lacus, at auctor mauris sem sagittis massa. Ut viverra dui quis justo maximus cursus sed ut nulla. Praesent eget lorem eget sapien imperdiet consequat. Aliquam vel pretium dui. Phasellus posuere viverra ipsum, id pellentesque nisl vehicula pretium. Nullam dapibus ac elit pharetra volutpat. Phasellus et lectus arcu. Donec facilisis lacus est, quis dictum orci vestibulum id. Aenean interdum tincidunt odio in tempus. Nulla porttitor urna ut purus porttitor blandit. Aliquam blandit lacus vitae mauris fringilla, vel sodales magna accumsan.

Maecenas condimentum dui at augue hendrerit, quis placerat libero sollicitudin. Sed non efficitur lorem. Fusce non feugiat nulla. Proin id rhoncus ante. Nullam non risus sed neque porta consequat. Etiam mollis magna sit amet est laoreet, eu venenatis mi maximus. Aenean venenatis et sapien eu elementum. Cras sit amet aliquam ipsum. Vivamus sit amet urna et nulla suscipit hendrerit ac at felis. Fusce ut sollicitudin augue. Nam dolor felis, ultrices in pretium id, faucibus id odio. Phasellus quis metus ac purus venenatis hendrerit ac eu orci. Donec cursus lectus in dui dignissim, sit amet posuere nisl tempus.

Proin sed metus sem. Sed euismod ipsum nec felis rutrum, in vehicula enim varius. Nullam nisi tortor, pharetra id bibendum vel, pretium a turpis. Donec faucibus a erat non efficitur. Duis aliquet viverra dictum. Fusce sit amet nibh placerat, dignissim purus sit amet, rhoncus sapien. Morbi vestibulum dapibus est, vel dictum arcu vulputate quis. Aliquam ultrices egestas maximus. Morbi in interdum arcu. Ut pellentesque sed elit sit amet fermentum. Quisque scelerisque tortor eget condimentum finibus. Nullam dapibus, ipsum sit amet consequat rutrum, sapien orci fringilla tortor, et finibus libero felis interdum quam. Maecenas pellentesque felis id lacinia luctus. Nam iaculis viverra est, laoreet tempor ex lobortis et.</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
            <p class="text">sss</p>
        </div>
    </div>    
</body>
</html>